<!--Copied from users/login.html-->
<!--WEB PAGE for taking the E-mail of the user to initiate the process of PASSWORD RESET-->
<!--takes extends "blog/base.html for TITLE code"-->
<!--TITLE is displayed in tab of browser-->
<head>
    <title>Request for Reset Password</title>
</head>
{% extends "blog/base.html" %}
<!--Loding crispy bootstrap pack to beautify the page-->
<!--Refer Cmd_codes file in C:\Users\DELL\Desktop\Python codes\Django_Web_App
for more info of download & installtion of this package-->
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
                <!--'|' represents filter. filter crispy is applied to the form. Crispy gives us built
                    in fields. -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}